$font-size-12px: 0.75em;
$font-size-13px: 0.813em;
$font-size-14px: 0.875em;
$font-size-16px: 1em;
$font-size-18px: 1.125em;
$font-size-21px: 1.313em;
$font-size-25px: 1.563em;
$font-size-34px: 2.125em;
$font-size-39px: 2.438em;
$font-size-72px: 4.5em;

// px
$s10: 10px;
$s20: 20px;
$s60: 60px;
$s100: 100px;

// Top menu

$top_menu: $primary;
$top_menu-font-size: 12px;

// Carousel

$carousel-indicator-width: 36px;
$carousel-indicator-height: 5px;
$carousel-indicator-bg: $white;
$carousel-indicator-active-bg: $primary;

// Navbar

$bg-black: #000;
$navbar-nav-link: 13px;

// Dropdown menu

$dropdown-menu-title: $font-size-14px;
$dropdown-menu-title-color: #050505;
$dropdown-menu-nav-link-color: #737373;

// Footer

$footer-title-font-size: $font-size-18px;
$footer-link-font-size: $font-size-12px;
$footer-link-color: #818181;
$footer-text-font-size: $font-size-14px;
$footer-form-border-color: #252525;
$footer-form-btn: $footer-form-border-color;
$footer-mail-color: #e7b14f;
$footer-copyright-font-size: $font-size-12px;
$footer-copyright-border: #e7e7e7;

// Box brand

$brand-border-color: #e8e8e8;

// Home Product
$home-product-desc: #8e8e8e;

// Product
$product-viewmore-link: #818181;
$product-item-info-title: $font-size-14px;
$product-price-old: #b4b4b4;

// Breadcrumb
$breadcrumb-bg: $white;
$breadcrumb-font-size: $font-size-14px;
$breadcrumb-active-color: $primary;

// n-header
$n-header-height: $s10;
