// Top menu

$top_menu: $primary;
$top_menu-font-size: 12px;

// Carousel

$carousel-indicator-width: 36px;
$carousel-indicator-height: 5px;
$carousel-indicator-bg: $white;
$carousel-indicator-active-bg: $primary;

// Navbar

$bg-black: #000;
$navbar-nav-link: 13px;

// Dropdown menu

$dropdown-menu-title: 14px;
$dropdown-menu-title-color: #050505;
$dropdown-menu-nav-link-color: #737373;
