.my-b-20 {
  margin-bottom: $s20;
}

.mx-100 {
  margin: $s100 0;
}

.px-100 {
  padding: $s100 0;
}

.letter-space {
  letter-spacing: 0.2em;
}

%n-header-title {
  @extend .text-uppercase;

  a {
    @extend .position-relative;

    &::after {
      @extend .d-flex;
      content: "";
      background-repeat: no-repeat !important;
      height: $n-header-height;
    }
  }
}

.n-header-title {
  @extend %n-header-title;
  @extend .letter-space;
  @extend .text-center;
  font-size: $font-size-21px;

  a {
    &::after {
      background: center/ 189px 10px url("../../assets/images/common/n-header-title.png");
      margin: 12px 0 18px;
    }
  }
}

.n-header-title-2 {
  @extend %n-header-title;
  font-size: $font-size-25px;

  a {
    &::after {
      background: left/ 64px 8px url("../../assets/images/common/n-header-title-2.png");
    }
  }
}
