nav(aria-label='breadcrumb')
  ol.breadcrumb
    li.breadcrumb-item
      a(href='#') Trang chủ
    li.breadcrumb-item
      a(href='#') Sản phẩm
    li.breadcrumb-item.active(aria-current='page') Rượu vang đỏ
