extends ./layouts/layouts.pug

block title
  | Product Detail

block content
  .container
    include components/_breadcrumb
    section
      +n-header-title-2("Giỏ hàng")
      table.table.table-cart
        thead
          tr
            - var th_data = ['Ảnh', 'Tên sản phẩm', 'Giá', 'Số lượng', 'Tổng số', 'Xoá']
            each data in th_data
              th(scope='col')= data
        tbody#cart-list
      #no-item.text-center
      .d-flex.justify-content-end
        a.btn.btn-wine(href="#") Tiếp tục mua hàng
        a.btn.btn-wine.mx-3(href="#") Xóa
        a.btn.btn-wine(href="#") Cập nhật
