block data

  //- top_menu
  -
    var
      top_menu = [
        {
          name: "Tài khoản của tôi"
        },
        {
          name: "Trạng thái đơn hàng"
        },
        {
          name: "Danh sách ưa thích"
        },
        {
          name: "Giỏ hàng (1)"
        },
        {
          name: "Đăng nhập"
        },
        {
          name: "Đăng ký"
        }
      ]

  //- submenu
  -
    var
      navbar_menu = [
        {
          name: 'Trang chủ',
          link: '#',
          dropdown: false
        },
        {
          name: 'Rượu vang đỏ',
          link: '#',
          dropdown: true
        },
        {
          name: 'Rượu trắng',
          link: '#',
          dropdown: true
        },
        {
          name: 'Champagne',
          link: '#',
          dropdown: true
        },
        {
          name: 'Thông tin',
          link: '#',
          dropdown: false
        },
        {
          name: 'Blog',
          link: '#',
          dropdown: false
        },
        {
          name: 'Liên hệ',
          link: '#',
          dropdown: false
        }
      ]

  //- navbar_menu_title

  -
    var
      navbar_menu_title = [
        {
          name: 'Rượu ngoại'
        },
        {
          name: 'Rượu vang'
        },
        {
          name: 'Rượu ngoại'
        }

      ]

  //- navbar_menu_sub
  -
    var
      navbar_menu_sub = [
        {
          name: 'Rượu Chivas'
        },
        {
          name: 'Hàng độc - Rượu độc đáo'
        },
        {
          name: 'Rượu Whisky'
        },
        {
          name: 'Rượu Remy Martin'
        },
        {
          name: 'Rượu Glenmorangie'
        }
      ]
  //- tag
  -
    var
      tag = [
        {
          name: 'Đồng hồ',
        },
        {
          name: 'Túi',
        },
        {
          name: 'Phụ kiện',
        },
        {
          name: 'Giày',
        },
        {
          name: 'Áo sơ mi',
        },
        {
          name: 'Nước hoa',
        },
        {
          name: 'Trẻ em',
        },
        {
          name: 'Thời trang nữ',
        },
      ]

  //- Country
  -
    var
      country = [
        {
          name: 'Việt Nam',
        },
        {
          name: 'Lào',
        },
        {
          name: 'Campuchia',
        },
        {
          name: 'Thái Lan',
        },
        {
          name: 'Ấn Độ',
        },
      ]

  //- City
  -
    var
      city = [
        {
          name: 'Hà Nội',
        },
        {
          name: 'Huế',
        },
        {
          name: 'Đà Nẵng',
        },
        {
          name: 'Sài Gòn',
        },
      ]
