/*******
##### Import styles parts
**************/

//Libs

@import "_bootstrap/bootstrap";
@import "_themes/_variables";

// Mixin

@import "_mixin/_opacity";
@import "_mixin/_transition";

// Themes
@import "_themes/themes";

// Components

@import "_themes/_components/_top_menu";
@import "_themes/_components/_carousel";
@import "_themes/_components/_navbar";
