/*******
##### Import styles parts
**************/

//Libs

@import "_bootstrap/bootstrap";
@import "_themes/_variables";

// Mixin

@import "_mixin/_opacity";
@import "_mixin/_transition";

// Themes
@import "_themes/themes";

// Components

@import "_themes/_components/_btn";
@import "_themes/_components/_card";
@import "_themes/_components/_customers";
@import "_themes/_components/_top_menu";
@import "_themes/_components/_carousel";
@import "_themes/_components/_navbar";
@import "_themes/_components/_footer";
@import "_themes/_components/_box_brand";
@import "_themes/_components/_products";

// Pages

@import "_themes/_pages/_home";

// Pages

@import "_themes/_pages/_home";
