.btn-wine {
  background: $black;
  color: $white;
  font-size: $font-size-12px;
  outline: 0;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;

  @include hover {
    color: $primary;
  }
}

.btn-readmore {
  color: #a7a7a7;
  font-size: $font-size-14px;
}
