.top-menu {
  background: rgba($white, 0.1);
  padding: 12px 0;
  box-shadow: $box-shadow;
  position: absolute;
  width: 100%;
  z-index: 1;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    position: relative;
  }

  .container {
    @extend .d-flex;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    font-size: $top_menu-font-size;
    margin: 0;

    @include media-breakpoint-down(md) {
      display: none;
    }

    li {
      margin: 0 12px;
      @extend .position-relative;

      a {
        color: $white;

        @include hover {
          color: $top_menu;
        }
      }

      &::after {
        content: "-";
        color: $white;
        right: -14px;
        top: 0;
        @extend .position-absolute;
      }

      &:last-child::after {
        content: "";
      }
    }
  }

  &__form {
    @extend .d-flex;
    margin: -5px 0 0;

    @include media-breakpoint-down(md) {
      @include size(100%, auto);
      margin-top: 0;
    }

    @include media-breakpoint-up(lg) {
      margin-left: auto;
    }

    input {
      background: transparent;
      border: 0;
      border-left: 1px solid $white;
      font-size: $top_menu-font-size;
      padding-left: 12px;

      @include media-breakpoint-down(md) {
        color: $black;
        border: $border-width solid $gray-600;
        font-size: $top_menu-font-size-sm;
        padding-top: $s10;
        padding-bottom: $s10;
        @include size(100%, auto);
      }

      @include media-breakpoint-up(lg) {
        color: $white;
        @include size(220px, auto);
      }

      &::placeholder {
        color: rgba($white, 0.5);
        font-style: italic;

        @include media-breakpoint-down(md) {
          color: $black;
        }
      }
    }

    .submit {
      background-color: inherit;
      @extend .border-0;

      i {
        color: $white;

        @include media-breakpoint-down(md) {
          color: $black;
          padding: 0 $s20;
        }
      }
    }
  }
}

.top-menu-navbar {
  a {
    color: $white;

    @include hover {
      color: $primary;
    }
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }

  &__list {
    @extend .list-unstyled;
    margin-top: $s10;

    li {
      margin-bottom: $s10;
    }
  }
}
